.s-table{
    width: 100%;
    background: white;
    box-shadow: 0px 10px 16px -10px rgba(0, 0, 0, 0.521);
}
.s-table tr td,
.s-table thead tr th{
    padding: 10px 15px;
    text-align: left;
}
.s-table tr th,
.s-table tr td{
    border-bottom: 1px solid #66ce6973;
}